<br />
<div class="container">
    <div class="row">
        <div *ngIf="trading && trading.length > 0; then thenBlock; else elseBlock">this is ignored</div>
        <ng-template #thenBlock>
            <div *ngFor="let trade of trading" class="col-4 card-group">
                <div class="card">
                    <div class="card-body">
                        <div class="trading-header">
                            <span>
                                <div class="float-left">User {{trade.userId}}</div>
                                <div class="float-right">Affinity {{trade.affinity}}</div>
                            </span>
                        </div>
                        <br/>
                        <div *ngIf="trade.matchingSearchCount > 0" class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning" 
                                role="progressbar" 
                                [style.width]="trade.matchingSearchCount * 5 + '%'" 
                                [attr.aria-valuenow]="trade.matchingSearchCount" 
                                aria-valuemin="0" 
                                aria-valuemax="20">{{trade.matchingSearchCount}}
                            </div>
                            <div *ngIf="trade.matchingProposeCount > 0" class="progress-bar progress-bar-striped bg-success" 
                                role="progressbar" 
                                [style.width]="trade.matchingProposeCount * 5 + '%'" 
                                [attr.aria-valuenow]="trade.matchingProposeCount" 
                                aria-valuemin="0" 
                                aria-valuemax="20">{{trade.matchingProposeCount}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Woops
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">We didn't find anyone for you to trade with :(</h5>
                        <p class="card-text">Come back later to see if people caught some more archimonsters to trade</p>
                        <a routerLink="/monsters" routerLinkActive="active" class="btn btn-primary">My monsters</a>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>