<br />
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div *ngFor="let monster of monsters" class="col-4 card-group monster">
                    <div class="card">
                        <img src="http://localhost:89/ressources/monsters/{{monster.slug}}.png" class="card-img-top img-monster" alt="...">
                        <div class="card-body">
                            <a>
                                <h5 routerLink="/monsters/{{monster.id}}" class="card-title">{{monster.name}}</h5>
                            </a>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class ="col align-items-center justify-content-center">
                                        <span class="align-middle">
                                            <button class="btn btn-secondary">+</button>
                                            <p class="d-inline-block align-middle monster-count">{{monster.count}}</p>
                                            <button class="btn btn-secondary">-</button>
                                        </span>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-6 align-items-center justify-content-center">
                                        <span>
                                            <button class="btn btn-primary btn-sm btn-block">Search</button>
                                        </span>
                                    </div>
                                    <div class="col-6 align-items-center justify-content-center">
                                        <span>
                                            <button class="btn btn-primary btn-sm btn-block">Propose</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>