.img-monster {
    width: 120px;
    height: 120px;
}

.monster {
    margin-bottom: 1%;
}

.monster-count {
    margin-left: 3%;
    margin-right: 3%;
}

.acquired {
    background-color: #80B780
}

.missing {
    background-color: #FF7575
}

.search {
    margin-bottom: 1%;
}

.invisible {
    display: none;
}