.img-monster {
    width: 120px;
    height: 120px;
}

.monster {
    margin-bottom: 1%;
}

.monster-count {
    font-size: 150%;
    margin-left: 5%;
    margin-right: 5%;
}

.acquired {
    background-color: #80B780
}

.missing {
    background-color: #FF7575
}

.search {
    margin-bottom: 1%;
}

.invisible {
    display: none;
}

.btn-count {
    width: 40px;
    color: #ebebeb;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #636363;
    font-weight: bold;
}

.btn-sp {
    width: 80px;
    color: #ebebeb;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #636363;
    font-weight: bold;
}

.sp {
    color: white;
    background-color: #636363;
    // background-color: blue;
}

.nsp {
    color: #383838;
    background-color: #DEDEDE;
    // background-color: orange;
}
