<br />
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <div class="card search">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="filterHave">I Have</label>
                                    <select [(ngModel)]="filterHave" class="form-control" id="filterHave">
                                        <option value="/">-</option>
                                        <option value="+">Yes</option>
                                        <option value="-">No</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="filterNeed">Need</label>
                                    <select [(ngModel)]="filterNeed" class="form-control" id="filterNeed">
                                        <option value="/">-</option>
                                        <option value="+">Yes</option>
                                        <option value="-">No</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="filterHave">Propose</label>
                                    <select [(ngModel)]="filterPropose" class="form-control" id="filterHave">
                                        <option value="/">-</option>
                                        <option value="+">Yes</option>
                                        <option value="-">No</option>
                                    </select>
                                </div>
                                
                                <button (click)="filter()" type="submit" class="btn btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let monster of displayedMonsters" class="col-4 card-group monster">
                    <div class="card">
                        <div [ngClass]="(monster.count > 0)? 'acquired' : 'missing'" class="card-body">
                            <div class="text-center">
                                <img src="http://localhost:89/ressources/monsters/{{monster.slug}}.png" class="card-img-top img-monster" alt="...">
                            </div>
                            <div>
                                <a>
                                    <h5 routerLink="/monsters/{{monster.id}}" class="card-title">{{monster.name}}</h5>
                                </a>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class ="col text-center">
                                        <span class="align-middle">
                                            <button (click)="incrementMonster(monster.id)" class="btn btn-count">+</button>
                                            <b class="d-inline-block align-middle monster-count">{{monster.count}}</b>
                                            <button (click)="decrementMonster(monster.id)" class="btn btn-count">-</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-6 align-items-center justify-content-center">
                                        <span>
                                            <button (click)="monster.search ? unsearchMonster(monster.id) : searchMonster(monster.id)" [ngClass]="(monster.search)? 'sp' : 'nsp'" class="btn btn-sm btn-block btn-sp">Search</button>
                                        </span>
                                    </div>
                                    <div class="col-6 align-items-center justify-content-center">
                                        <span>
                                            <button (click)="monster.propose ? unproposeMonster(monster.id) : proposeMonster(monster.id)" [ngClass]="(monster.propose)? 'sp' : 'nsp'" class="btn btn-sm btn-block btn-sp">Propose</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>