<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink="" routerLinkActive="active" class="navbar-brand" href="#">PocketMonster</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="isLoggedIn() == true" class="nav-item">
                <a routerLink="/monsters" routerLinkActive="active" class="nav-link" href="#">Monsters</a>
            </li>
            <li *ngIf="isLoggedIn() == true" class="nav-item">
                <a routerLink="/trading" routerLinkActive="active" class="nav-link" href="#">Trading Center</a>
            </li>
            <li *ngIf="isLoggedIn() == true" class="nav-item">
                <a routerLink="/marketplace" routerLinkActive="active" class="nav-link" href="#">Marketplace</a>
            </li>
            <li *ngIf="isLoggedIn() == true" class="nav-item">
                <a routerLink="/map" routerLinkActive="active" class="nav-link" href="#">Map</a>
            </li>
            <li *ngIf="isLoggedIn() == true" class="nav-item">
                <a routerLink="/messages" routerLinkActive="active" class="nav-link" href="#">Messages</a>
            </li>
            <li *ngIf="isLoggedIn() == true && authService.hasRole('Admin')" class="nav-item">
                <a routerLink="/admin" routerLinkActive="active" class="nav-link" href="#">Admin</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            
            <li *ngIf="isLoggedIn() == false" class="nav-item">
                <a routerLink="/login" routerLinkActive="active" class="nav-link" href="#">Login</a>
            </li>
            <li *ngIf="isLoggedIn() == false" class="nav-item">
                <a routerLink="/register" routerLinkActive="active" class="nav-link" href="#">Register</a>
            </li>
            <li *ngIf="isLoggedIn() == true" class="nav-item">
                <a routerLink="/profile" routerLinkActive="active" class="nav-link" href="#">Profile</a>
            </li>
            <li *ngIf="isLoggedIn() == true" class="nav-item">
                <a (click)="logout()" class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>